**/bin/
**/target/
**/.project
**/.classpath
**/.settings/

# IntelliJ IDEA files & directories
**/.idea/
**/*.iml

# MacOS files
**/.DS_Store

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
