# Eclipse files & directories
**/bin/
.settings/

# Maven files & directories
**/target/

# IntelliJ IDEA files & directories
**/.idea/
**/*.iml

# MacOS files
**/.DS_Store

# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# volatile bnd workspace files
/cnf/cache/

# directory were we gather all results
/dist/
