<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">[%-5level] %d{HH:mm:ss.SSS} [%-27thread] %-40logger: %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Can be used to detect the origin of NULL events --><!--
        <Logger name="org.kromo.lambdabus.util.NullEventPublisherLogger" level="TRACE" additivity="true"/>
        --><!-- disabled by default -->
        <Logger name="org.kromo.lambdabus.util.NullEventPublisherLogger" level="off" additivity="true"/>

        <!-- Can be used to detect usage of unsupported ThreadingModes --><!--
        <Logger name="org.kromo.lambdabus.util.UnsupportedThreadingModeReporter" level="WARN" additivity="true"/>
        --><!-- disabled by default -->
        <Logger name="org.kromo.lambdabus.util.UnsupportedThreadingModeReporter" level="off" additivity="true"/>

        <!-- Can be used to detect errors while dispatching events --><!--
        <Logger name="org.kromo.lambdabus.util.DispatchingUtil" level="WARN" additivity="true"/>
        --><!-- disabled by default -->
        <Logger name="org.kromo.lambdabus.util.DispatchingUtil" level="off" additivity="true"/>

        <!-- These loggers are used only for testing -->
        <Logger name="org.kromo.lambdabus.util.DispatchingUtilTest" level="off" additivity="true"/>
        <Logger name="org.kromo.lambdabus.util.DispatchingUtilTest$dispatchEventSafelyTest" level="off" additivity="true"/>
        <Logger name="org.kromo.lambdabus.util.DispatchingUtilTest$dispatchEventToSubscriberTest" level="off" additivity="true"/>
        <Logger name="org.kromo.lambdabus.util.DispatchingUtilTest$dispatchEventToSubscriberThreadedPerEventTest" level="off" additivity="true"/>

        <Root level="ERROR">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
